<h1>Listing fund_stores</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fund_stores.each do |fund_store| %>
      <tr>
        <td><%= link_to 'Show', fund_store %></td>
        <td><%= link_to 'Edit', edit_fund_store_path(fund_store) %></td>
        <td><%= link_to 'Destroy', fund_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund store', new_fund_store_path %>
